{%  extends 'base.html' %}
{% load static %}
{% block content %}
<strong><h2 style="color:#496EDB"> Welcome, {{ user.username|default:'Guest' }}!</h2></strong>
{% if user.is_authenticated %}
<div>
    <!-- this is graph 1 -->
    {{ plot1 | safe }}
</div>   
<h2>Assumptions</h2>
<p>So assuming  n</p>
<br>
<div style="width:600;height:800">
    <!-- this is graph 2 -->
    <!-- {{ plot2 | safe }}  -->
</div>
{% else %}
<h1>Please login!</h1>

<p style="font-size: x-large; color: black;">Floods are identified as the <b>most devastating hazards in the world</b> (Prăvălie and Costache, 2013; Mishra and Sinha, 2020; Sarkar and Mondal, 2020). Flood often causes severe loss of human lives and socio-economic damage (Hirabayashi et al., 2013; Costache, 2019). </p>
<p style="font-size: x-large; color: black">According to a news article reported on 23 December 2021 by The Borneo Post, the public in Sarawak have been advised to make the necessary preparations for possible floods and landslides following worst flood events in decades caused by three days of torrential rain happened in Klang Valley and Pahang. According to MetMalaysia’s infographic on 22 December 2021, a monsoon surge is expected to occur from 27 to 29 December 2021, with continuous rain in the western part of Sarawak and eastern Sabah during the period.</p>
{% endif %}
{% endblock %}