{%  extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>CSV Files</title>
    </head>
    <body>
        <a href="https://github.com/jhamuza/FSProjOne/blob/main/XJ_JPNB/PIB_Sarawak%20River.csv"><li style="font-size: large; color: black;">PIB Sarawak River.csv</p></a>
            <p>Data scraped from Public Info Banjir's website. Last updated 21 January 2022.</p>
            <br>
        <a href="https://github.com/jhamuza/FSProjOne/blob/main/XJ_JPNB/DID_December.csv"><li style="font-size: large; color: black;">Department of Irrigation and Drainage, Sarawak</p></a>  
            <p>Data scraped from Department of Irrigation and Drainage, Sarawak's website. Last updated 04 December 2021.</p>
    </body>
</html>
{% endblock %}