{%  extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>References</title>
    </head>
    <body>
        <a href="https://publicinfobanjir.water.gov.my/"><li style="font-size: large; color: black;">Public Info Banjir</p></a>
            <p>Displays information and warnings regarding heavy rain, river water levels and floods. It is initiated by the Minister of Environment and Water of Malaysia. The data available is updated on a daily basis from the level sensors installed on various stations across Malaysia.</p>
            <br>
        <a href="https://did.sarawak.gov.my/page-0-0-1517-Recorded-Flood-Event-in-Sarawak-P18.html"><li style="font-size: large; color: black;">Department of Irrigation and Drainage, Sarawak</p></a>  
            <p>The website contains various historical data on the irrigation and drainage system in Sarawak. The Department of Irrigation and Drainage was formed on 1st January 1932 whereas in Sarawak, the provision of drainage and irrigation facilities was performed by the Public Works Department (PWD) until 1st January, 1967 when the Drainage and Irrigation Branch of the PWD, Sarawak, became a full pledged Department under the then State Ministry of Agriculture and Community Development. Presently, DID Sarawak is under the State Ministry of Local Government & Housing (MLGH) and for Federal level, DID is under the Ministry of Environment and Water.</p>
    </body>
</html>
{% endblock %}